langchain 
langchain-core 
unstructured 
unstructured[pdf] 
pypdf 
tiktoken 
sentence_transformers 
vertexai 
openai 
langchain-openai 
arize-phoenix[experimental] 
arize-phoenix[evals] 
langchain-google-genai 
langchain-google-vertexai 
langchain-anthropic 
overrides
chromadb
langchain_community
fsspec==2023.6.0
python-dotenv
openinference-instrumentation-langchain
tk